.item-top
{
    margin-bottom: 5px;
    background-color: #f6f6f6;
    height: 120px;
}
.category-description
{
    padding: 0 10px;
}
.page-sidebar{
    border: 1px solid #f2f2f2;
}
.html_mind{
    border: 1px solid #cb8579;
    width: 50%;
    display: inline-block;
    padding: 15px;
    margin-bottom: 10px;
}
.html_mind_one{
    border: 1px solid #cb8579;
    width: 60%;
    display: inline-block;
    padding: 15px;
    margin-bottom: 10px;
}

.html_mind_two{
    border: 1px solid #cb8579;
    width: 70%;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}

.html_mind > h1{
    color: inherit;
}
.html_mind > .p{
    color: #cb8579;
}

.color {
    color: #cb8579;
}

.html_mind > .p1{
    color: #cb8579;
    font-size: 14px;
}

.html_mind > .p2{
    font-size: 14px;
}

.html_mind_one > .p2{
    font-size: 14px;
}

.html_mind_two > .p2{
    font-size: 14px;
}

.html_mind_one > .p1{
    color: #cb8579;
    font-size: 14px;
}

.html_mind_two > .p1{
    color: #cb8579;
    font-size: 14px;
}

.html_structure_one{
    width:90%;
    border:1px solid grey;
    padding:5px;
    margin:20px;
    border: 2px solid #cb8579;
}
table{
    width: 100%;
    table-layout:fixed;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td,th{
    min-width: 24px;
    border: 1px solid #d4d4d4;
    padding: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: top;
}
.html_structure{
    width:90%;
    border:1px solid grey;
    padding:5px;
    margin:20px;
}

.html_a{
    text-align: left;
    text-decoration: underline
}
.html_b{
    float: right;
    text-decoration: underline
}