.item-top
{
    margin-bottom: 5px;
    background-color: #f6f6f6;
    height: 120px;
}
.category-description
{
    padding: 0 10px;
}
.page-sidebar{
    border: 1px solid #f2f2f2;
}
.html_mind{
    border: 2px solid #cb8579;
    width: auto;
    display: inline-block;
    padding: 15px;
}